body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: none; /* Esconde o conteúdo inicialmente */
}

h1 {
    color: #4CAF50; /* Cor verde para sucesso */
    margin-bottom: 20px;
}

p {
    color: #333;
}