@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

/* General Reset */
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Aplicando fonte padrão */
body {
    background-color: #101114;
    color: #ffffff;
    margin: 0;
    display: block;
    margin: 0;
    border-width: 0;
    opacity: 1;
    margin-bottom: 5px;
    margin-bottom: 5px;
}

/* Estilos Gerais */
h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 1px;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold;
}

/* Container for page content */
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #2A2D35, #101114);
}

.content {
    text-align: center;
    color: white;
    animation: fadeIn 2s ease-in-out;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

/* Login Button */
button {
    padding: 15px 30px;
    font-size: 1.2rem;
    background-color: #2A2D35;
    border: none;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 2px;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold;
    transition: transform 0.3s ease;
}

button:hover {
    transform: scale(1.1);
}

/* Estilo para barra de pesquisa */
.searchInput {
    width: 100%;
    padding: 12px;
    border: 1px solid #ffd700;
    background-color: #1E252E;
    color: #ffffff;
    font-family: 'Chakra Petche', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.searchInput::placeholder {
    color: #ffffff;
}

/* Estilos para animação */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Footer */
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #030303;
    color: #ffffff;
    text-align: left;
    padding: 5px;
    font-size: 0.7em;
}