* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Chakra Petch', sans-serif;
    background-color: #292C34;
    color: #E0E0E0;
}

.container {
    display: flex;
    min-height: 100vh;
}

/* Sidebar Styling */
.sidebar {
    width: 230px;
    background-color: #050505;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo h2 {
    color: #E0E0E0;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

.nav-item {
    list-style: none;
    margin-bottom: 10px;
}

.nav-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #E0E0E0;
    padding: 10px 0;
    transition: background 0.3s ease;
}

.nav-item a:hover {
    background-color: #292C34;
    border-radius: 5px;
}

.icon {
    font-size: 1.5rem;
    margin-right: 10px;
}

.nav-text {
    font-size: 1.1rem;
}

.logout a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ff5f5f;
    padding: 10px 0;
    font-weight: bold;
}

.logout a:hover {
    background-color: #292C34;
    border-radius: 5px;
}

/* Main Content Styling */
.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #20232A;
}

.main-content h1, .main-content h2 {
    font-weight: 600;
    margin-bottom: 20px;
}

.main-content p {
    font-size: 1.2rem;
}

.section.hidden {
    display: none;
}

/* Responsive Layout */
@media (max-width: 768px) {
    .sidebar {
        width: 70px;
    }
    .nav-text {
        display: none;
    }
    .logout span {
        display: none;
    }
}